







 <h1> Questions </h1>
<style type="text/css">
.vertical { background-color: yellow; }
</style>

<% @questions.each_with_index do |question, index| %>
		   <div><%=index +1 %>. <%= question['question'] %></div>
		    <br>
	    <div><%= radio_button("question", "question_type",) %></div>

			<%    end    %>
       
    
  


 <%= link_to "BACK", root_path %>