<h1>New Profile</h1>

<body>

<br>
     <img src=https://cdn1.iconfinder.com/data/icons/user-pictures/100/boy-512.png" alt="Boy, young, user, profile, Child, kid, Avatar, people Icon" alt="fun face">

<br>
<br>

<%= link_to "Home Page", root_path %>
</body>

