/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "materialize";
@import "compass/css3";
@import "compass";

/* VARIABLES */
$header-bg: #3f51b5;
$menu-width: 250px!default;

/* BASE */
html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.4;
  height: 100%;
  
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  @include clearfix;
  margin:  100px;
}

.site-content {
  padding-top: 66px;
}

/* HEADER */
.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 66px;
  
  line-height: 66px;
  color: #fff;
  
  background-color: $header-bg;
}

.header__logo {
  font-weight: 700;
  padding: 0 25px;
  float: right;
}

/* MENU */
.menu {
  float: right;
  
  a {
    padding: 0 10px;
  }
  
  a:hover {
    color: #c5cae9;
  }
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
  .site-pusher,
  .site-container {
    height: 100%;
  }
  
  .site-container {
    overflow: hidden;
  }
  
  .site-pusher {
    @include transition-duration(0.3s);
    @include transform(translateX(0px));
  }
  
  .site-content {
    position: absolute;
    top: 66px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  
  .header {
    position: static;
  }
  
  .header__icon {
    position: relative;
    display: block;
    float: left;
    width: 50px;
    height: 66px;
    
    cursor: pointer;
    
    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 1rem;
      height: 0;
      top: 16px;
      left: 15px;
      @include box-shadow(0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff);
    }
  }
  
  .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: darken($header-bg, 5);
/*    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;*/
    
    width: $menu-width;
    
    @include transform(translateX($menu-width * -1));
    a {
      display: block;
      height: 40px;
      
      text-align: center;
      line-height: 40px;
      
      border-bottom: 1px solid $header-bg;
    }
  }
  
  .with--sidebar {
    .site-pusher {
      @include transform(translateX($menu-width));
    }
    .site-cache {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.6);
    }
  }
}

body {

}
    
    


html { 
  background: url(http://data.whicdn.com/images/86597965/large.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#container {
/*    background-image:url(http://data.whicdn.com/images/86597965/large.jpg);
*/    background-position:center;
    width:800px;
    height:500px;
}

#kids {
    position: center;
    position: absolute;
    top: 0px;
    left: 50px;
    display: flex;
    flex-direction: row;

}


#bg {
  position: right; 
  top: 100px; 
  left: 10px;
	
  /* Preserve aspet ratio */
  min-width: 50%;
  min-height:50%;
  
} 

@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols/websymbols-regular-webfont.eot');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('websymbols/websymbols-regular-webfont.woff') format('woff'),
         url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
         url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.category {
position:relative;
display: inline-block;
float:right;
padding:10px;
}

.ca-menu{
    padding: 0;
    margin: 20px auto;
    width: 500px;
}

.ca-menu li{
    width: 150px;
    height: 150px;
    border: 10px solid #f6f6f6;
    overflow: hidden;
    position: relative;
    float:left;
    background: #fff;
    margin-right: 4px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    border-radius: 125px;
    transition: all 1000ms linear;
}

.ca-menu li:hover{
    background: yellow;
    border-color: blue;
    transform: rotate(720deg);
}


.ca-menu li:hover .ca-icon{
    color: #555;
    font-size: 60px;

}
.ca-menu li:hover .ca-main{
    display: none;
}
.ca-menu li:hover .ca-sub{
    opacity: 0.8;
}


.ca-menu1 {
    padding: 0;
    margin: 20px auto;
    width: 500px;
}

.ca-menu1 li{
    width: 150px;
    height: 150px;
    border: 10px solid #f6f6f6;
    overflow: hidden;
    position: relative;
    float:left;
    background: #fff;
    margin-right: 4px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    border-radius: 125px;
    transition: all 1000ms linear;
}

.ca-menu1 li:hover{
    background: yellow;
    border-color: red;
    transform: rotate(720deg);
}


.ca-menu1 li:hover .ca-icon{
    color: #555;
    font-size: 60px;

}
.ca-menu1 li:hover .ca-main{
    display: none;
}
.ca-menu1 li:hover .ca-sub{
    opacity: 0.8;
}


.ca-menu2 {
    padding: 0;
    margin: 20px auto;
    width: 500px;
}

.ca-menu2 li{
    width: 150px;
    height: 150px;
    border: 10px solid #f6f6f6;
    overflow: hidden;
    position: relative;
    float:left;
    background: #fff;
    margin-right: 4px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    border-radius: 125px;
    transition: all 1000ms linear;
}

.ca-menu2 li:hover{
    background: yellow;
    border-color: orange;
    transform: rotate(720deg);
}


.ca-menu2 li:hover .ca-icon{
    color: #555;
    font-size: 60px;

}
.ca-menu2 li:hover .ca-main{
    display: none;
}
.ca-menu2 li:hover .ca-sub{
    opacity: 0.8;
}























