/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 
 */



@import "bootstrap";





body {
       position: center;

}
    
    


html { 
  background: url(http://data.whicdn.com/images/86597965/large.jpg) 
  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#container {
    background-image:url(http://data.whicdn.com/images/86597965/large.jpg);
    background-position:cover;
    width:0px;
    height:0px;
}

#kids {
    color: teal;
    position: center;
    position: absolute;
    top: 50px;
    left: 200px;
    display: flex;
    flex-direction: row;

}

#racer {
       color: green ;
       font-family: times;

}



#bg {
  position: center; 
  top: 300px; 
  left: 200px;
  margin-left: 200px;
  margin-top: 200px;

	
  /* Preserve aspet ratio */
  min-width:  60%;
  min-height: 60%;
  
} 


.top {
  
  color: #FF3368;
  font-family: times;
  
}

@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols/websymbols-regular-webfont.eot');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('websymbols/websymbols-regular-webfont.woff') format('woff'),
         url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
         url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.category {
position:relative;
display: inline-block;
float:right;
padding:10px;
}

.ca-menu{
    padding: 0;
    margin: 20px auto;
    width: 500px;
}

.ca-menu li{
    width: 150px;
    height: 150px;
    border: 10px solid #f6f6f6;
    overflow: hidden;
    position: relative;
    float:left;
    background: #fff;
    margin-right: 4px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    border-radius: 125px;
    transition: all 1000ms linear;
}

.ca-menu li:hover{
    background: yellow;
    border-color: blue;
    transform: rotate(720deg);
}


.ca-menu li:hover .ca-icon{
    color: #555;
    font-size: 60px;

}
.ca-menu li:hover .ca-main{
    display: none;
}
.ca-menu li:hover .ca-sub{
    opacity: 0.8;
}


.ca-menu1 {
    padding: 0;
    margin: 20px auto;
    width: 500px;
}

.ca-menu1 li{
    width: 150px;
    height: 150px;
    border: 10px solid #f6f6f6;
    overflow: hidden;
    position: relative;
    float:left;
    background: #fff;
    margin-right: 4px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    border-radius: 125px;
    transition: all 1000ms linear;
}

.ca-menu1 li:hover{
    background: yellow;
    border-color: red;
    transform: rotate(720deg);
}


.ca-menu1 li:hover .ca-icon{
    color: #555;
    font-size: 60px;

}
.ca-menu1 li:hover .ca-main{
    display: none;
}
.ca-menu1 li:hover .ca-sub{
    opacity: 0.8;
}


.ca-menu2 {
    padding: 0;
    margin: 20px auto;
    width: 500px;
}

.ca-menu2 li{
    width: 150px;
    height: 150px;
    border: 10px solid #f6f6f6;
    overflow: hidden;
    position: relative;
    float:left;
    background: #fff;
    margin-right: 4px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    border-radius: 125px;
    transition: all 1000ms linear;
}

.ca-menu2 li:hover{
    background: yellow;
    border-color: orange;
    transform: rotate(720deg);
}


.ca-menu2 li:hover .ca-icon{
    color: #555;
    font-size: 60px;

}
.ca-menu2 li:hover .ca-main{
    display: none;
}
.ca-menu2 li:hover .ca-sub{
    opacity: 0.8;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

 @keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}


.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}


.top {
  
  color: FFD433;

}

















